<h1>PRACOWNICY</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'pracownicy.index' tagName="li"}}<a href="">Pokaż wszystkich pracowników</a>{{/link-to}}
    {{#link-to 'pracownicy.new' tagName="li"}}<a href="">Dodaj nowego pracownika</a>{{/link-to}}
  </ul>
</div>

{{outlet}}